.page-container {
  height: 100%;
  width: 100%;
  // margin: 20px;
}
.main-title {
  max-width: 100%;
  font-size: 10vw;
  margin-bottom: 1vh;
}
.sub-title {
  max-width: 100%;
  text-align: center;
  font-size: 2vw;
}
.header {
  // padding: 0 20px;
  overflow-y: visible;
}
::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em !important;
}

.org-input {
  width: 50%;
}
.gobutton {
  margin-left: 5px;
  height: 50px;
  width: 100px;
}
.error-hint {
  color: red;
}
