:host {
  padding: 20px;
}
.row-image {
  max-width: 10vw;
  width: 80px;
  margin-right: 15px;
}

.mat-cell, .mat-header-cell{
  padding: 10px;
}

.table-container {
  margin-top: 20px;
}
.loading-spinner-container {
  background-color: #424242;
}
